<!DOCTYPE html>
<html>
  <head>
    <title>Poketrader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    >
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    >
    </script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/react-bootstrap-typeahead/css/Typeahead.css"
    >

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #FF0000;">
      <div class="container">
        <h1 class="navbar-brand text-warning">Pokemon Trader</h1>
        <div class="navbar-nav">
          <%= link_to "New trade", new_trade_path, class: "nav-link text-warning" %>
          <%= link_to "Pokemons", new_pokemon_path, class: "nav-link text-warning" %>
          <%= link_to "History", trades_path, class: "nav-link text-warning" %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= render "notice" %>
      <%= render "alert" %>
      <%= render "error" %>
    </div>

    <%= yield %>
  </body>
</html>